.topbody {
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topLista {
    color: white;
    display:flex;
    margin:10px;
    padding: 10px;
}

.itemstop {
    margin: 10px;
    padding: 10px;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenPizza {

        height: 350px;
        width: 490px;
        left: 19px;
        top: 135px;
        border-radius: 5px;
}

.imagenFondo {
    height: 350px;
    width: 490px;
    left: 19px;
    top: 135px;
    border-radius: 5px;

}