/* Estilos para la cabecera */
header {
	background-color: #F0F8FF;
	padding: 20px;
	text-align: center;
}

/* Estilos para el título principal */
h1 {
	font-size: 48px;
	color: #4169E1;
}

/* Estilos para el contenido principal */
main {
	margin: 20px;
}

/* Estilos para el pie de página */
footer {
	background-color: #F0F8FF;
	padding: 10px;
	text-align: center;
}
